<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/css/kindex.min.css" media="all" />
</head>
<body>
[[[page:body()]]]
 <script>
  function ngn(){  }
  window.onload = function(){
    var script = document.createElement("script");
    script.type = "text/javascript";
    if (script.readyState){  //IE
      script.onreadystatechange = function(){
        if (script.readyState == "loaded" || script.readyState == "complete"){
          ngn();
          $(document).ready(slideShow("en"));
          var inIframe= top!=self;page.setFbIframe(inIframe);
          script.onreadystatechange = null;
        }
      };
    } else {  //Others
      script.onload = function(){
        ngn();
        $(document).ready(slideShow("en"));
        var inIframe= top!=self;page.setFbIframe(inIframe);
      };
    }
    script.src = "/js/kindex.min.js";
    document.getElementsByTagName("head")[0].appendChild(script);
  };
  </script>

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37172808-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

</body>
</html>
