{sub_dirs, ["apps", "deps"]}.
{rebar_plugins, [erlson_rebar_plugin]}.
{require_otp_vsn, "R14|R15"}.
{cover_enabled, true}.
{erl_opts, [debug_info]}.
{lib_dirs, ["apps"]}.
{deps_dir, ["deps"]}.
{deps, [
    {gproc,         ".*",    {git, "git@github.com:doxtop/gproc",              "master"}},
    {mimetypes,     ".*",    {git, "git@github.com:spawngrid/mimetypes.git",   {tag, "HEAD"}}},
    {cowboy,        ".*",    {git, "git@github.com:5HT/cowboy.git",            {tag, "0.6.2"}}},
    {nitrogen_core, "2.1.*", {git, "git@github.com:5HT/nitrogen_core.git",     "master"}},
    {nprocreg,      ".*",    {git, "git@github.com:choptastic/nprocreg.git",   "master"}},
    {simple_bridge, ".*",    {git, "git@github.com:5HT/simple_bridge.git",     "master"}},
    {sync,          "0.1.*", {git, "git@github.com:doxtop/sync.git",           "master"}}
]}.
